ROP_WEB/Connected Services/ServiceReference1/Service131.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFtest3" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFtest3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSLIDER">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SLIDER" nillable="true" type="tns:SLIDER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSLIDER" nillable="true" type="tns:ArrayOfSLIDER" />
  <xs:complexType name="SLIDER">
    <xs:sequence>
      <xs:element minOccurs="0" name="SlideId" type="xs:int" />
      <xs:element minOccurs="0" name="SlideImg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="slideUrl" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SLIDER" nillable="true" type="tns:SLIDER" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
</xs:schema>